.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RDS
.RDataTmp
.RDataTmp
/HydroRIVERS_v10_na_shp
/HydroRIVERS_v10_ar_shp
.RDataTmp
.RDataTmp1
.RDataTmp2
notes/
notes/.DS_Store
.RDataTmp
scripts_pri/
output_pri/
data_pri/
notes
scripts_priv
